
<p><strong>chat  with gemini :</strong> (You need to have been authorized by admin)</p>
<div class="unit containerGpt">

    <div class="sectionGpt alignRight">
      <div >Writte :</div>
      <button
        *ngIf="isRecording"
        [style.background-color]="'red'"
        aria-label="Record voice note"
        (click)="stopRecording()"
      >
        🎤
      </button>

      <button
        *ngIf="!isRecording"
        aria-label="Record voice note"
        (mousedown)="startRecording()"
        (click)="stopRecording()"
      >
        🎤
      </button>
    </div>
    <div class="sectionGpt" style="padding: 0;">
      <textarea  [formControl]="userInput" rows="4" cols="30"></textarea>
    </div>
    <div class="sectionGpt">
      <button (click)="checkSentenceByChatGpt()">check Sentence By gemini-2.0-flash</button>
      response: {{corrected}}
    </div>

</div>
