.button-container {
  display: flex;
  flex-direction: row; /* alignement horizontal */
  width: 100%;
  align-items: center; /* centre les boutons verticalement */
  justify-content: center; /* centre horizontalement si espace libre */
  gap: 10px; /* espace entre les boutons */
}
.button1 {
  flex: 1; /* prend un tiers de la largeur */
  background-color: red;
  color: white;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  max-height: 100px; /* limite la hauteur des boutons */
  height: auto;      /* ajuste la hauteur au contenu (max 100px) */

}


.content{
  border: 5px solid rgb(43, 0, 255);
  display: flex;
  flex-wrap: wrap; /* Permet de basculer en colonne sur petit écran */

}

.left-side {
  flex: 2; /* 2 parts */
  margin: 5px; /* espace autour de la colonne */
}

.right-side {
  border: 10px solid rgb(170, 255, 0);
  flex: 1; /* 1 part */
  margin: 5px; /* espace autour de la colonne */
}
