.button-container {
  display: flex;
  flex-direction: row; /* alignement horizontal */
  width: 100%;
  align-items: center; /* centre les boutons verticalement */
  justify-content: center; /* centre horizontalement si espace libre */
  gap: 10px; /* espace entre les boutons */
}
.button1 {
  flex: 1; /* prend un tiers de la largeur */
  background-color: red;
  color: white;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  max-height: 100px; /* limite la hauteur des boutons */
  height: auto;      /* ajuste la hauteur au contenu (max 100px) */

}


.content{
  border: 5px solid rgb(43, 0, 255);
  display: flex;
  flex-wrap: wrap; /* Permet de basculer en colonne sur petit écran */
}

.menu {

  border: 10px solid rgb(64, 0, 255);
  flex: 1; /* 1 part */
  margin: 5px; /* espace autour de la colonne */
}

.left-side {
  flex: 4; /* 4 parts */
  margin: 5px; /* espace autour de la colonne */
}

.right-side {
  border: 10px solid rgb(170, 255, 0);
  flex: 1; /* 1 part */
  margin: 5px; /* espace autour de la colonne */
}


.unit {
  margin: 3px; /* espace autour de chaque unité */
  padding: 10px; /* espace intérieur */
  border: 1px solid #ccc; /* bordure légère */
  border-radius: 5px; /* coins arrondis */
  background-color: #f9f9f9; /* fond clair */
}

.unit-title {
  font-weight: bold; /* Met le titre en gras */
  display: block; /* Affiche le titre sur une nouvelle ligne */
  margin-bottom: 5px; /* Espace entre le titre et le contenu */
}

.buttonMenu {
  width: 100%;
  box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
  padding: 6px 8px;
  font-size: 16px;
  border: 1px solid #ccc; /* bordure légère */
  border-radius: 10px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  text-align: center;
}

.buttonSelected {
  background: #28a745;
  color: #fff;
  border-color: #218838;
}

